/*Comments div container*/
.divcomments{
    display:flex;
    flex-direction: column;
}

.divinside{
    display: flex;
    flex-direction: column;
    align-items: center;

}
/*Icon for trashcan*/
.iconbutton{
    margin-left:1vh;
}
.hrlinebig{
    background-color: black;
    height: 1px;
    width: 90%;
}

/*media query for 540px*/
@media (min-width: 540px){
/*User name in comments*/
    .username{
        margin-left: 10vh;
        margin-right: 30%;
    }

}
/*media query for 768px*/
@media (min-width: 768px){

    .username{
        margin-left: 15vh;
        margin-right: 40%;
    }

}
/*media query for 1000px*/
@media (min-width: 1000px){

    .username{
        margin-left: 25vh;
        margin-right: 30%;
    }

}
