.site{
    display: flex;
    justify-content: center;
    margin-bottom: 17vh;
}
.bigdiv {
    display:inline-block;
    justify-items: center;
    justify-content: center;
    margin-top: 10vh;
    width:40vh;
    height: auto;
    background-color: rgb(241, 240, 240);
    box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.picturediv{
    width: 10vh;
    height: 10vh;
    margin-bottom: 4vh;

}
/*media query for 540px*/
@media (min-width: 540px){
    .bigdiv {
        margin-top: 10vh;
        width:50vh;
    }
    .picturediv{
        width: 20vh;
        height: 20vh;
        margin-bottom: 4vh;
    }


}