.centerbig{
    margin-top: 20vh;
    display: inline-block;
    justify-items: center;

}
.colordiv{
    justify-content: center;
    width: 35vh;
    height: auto;
}
.bookdiv{
    background-color: rgb(241, 240, 240);
    box-shadow:2px 2px 4px 2px rgba(0, 0, 0, 0.2);

}
.pictures{
    width: 10vh;
    height: 10vh;
}